@import "tailwindcss";

@layer base {
  body {
    background-color: #000000; /* Preto absoluto de fundo */
    color: #ffffff;             /* Texto principal Branco */
  }
}

/* Customização da barra de rolagem para ficar Premium no tema escuro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #1f1f22;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #dc2626; /* Vermelho ao passar o mouse */
}